
{% capture dateAndKeys %}
  {% for tag in site.data.news %}
    {{ tag[1].date }}:{{ tag[0] }}
  {% endfor %}
{% endcapture %}

{% assign sortedComposite = dateAndKeys | split: ' ' | sort %}

{% capture sortedKeys %}
  {% for x in sortedComposite %}
    {{ x | split: ':' | last }}
  {% endfor %}
{% endcapture %}

{% assign newsKeyArray = sortedKeys | split: ' ' | reverse %}

{% if newsKeyArray != empty %}
  <div class="gcn-news-list">
    <div class="list-group">
      <div class="list-group-item" style="display: flex; align-items: center; justify-content: space-between;">
        Recent News
        {% comment %}
        <a href="https://play.google.com/store/apps/details?id=org.golfclash.notebook" target="_blank" rel="noopener">
          <img alt="Android app on Google Play" src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" style="height: 40px;" />
        </a>
        {% endcomment %}
      </div>
      {% for newsKey in newsKeyArray limit: 3 %}
        {% assign newsItem = site.data.news[newsKey] %}
        {% assign newsContent = newsItem.content | strip %}
        <div class="list-group-item">
          <span class="text-tiny text-semi-muted">{{ newsItem.timestamp | date_to_long_string }}</span>
          <h5 class="list-group-item-heading">{{ newsItem.title }}</h5>
          <p class="list-group-item-text text-small">{{ newsContent }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
