
{% capture progressBarClass %}
  {% if include.percentage < 50 %}
    progress-bar-danger
  {% elsif include.percentage < 100 %}
    progress-bar-warning
  {% else %}
    progress-bar-success
  {% endif %}
{% endcapture %}

<div class="row row-flex">
  <div class="col-xs-3 col-xs-offset-1 text-right">{{ include.label }}</div>
  <div class="col-xs-6">
    <div class="progress progress-thin">
      <div class="progress-bar {{ progressBarClass }}" role="progressbar" aria-valuenow="{{ include.value }}" aria-valuemin="0" aria-valuemax="{{ include.max }}" style="width: {{ include.percentage }}%; min-width: 0.3em;">
        <span class="sr-only">{{ include.label }}</span>
      </div>
    </div>
  </div>
</div>
