
<div class="text-center pad-32">
  <h1 class="gcn-page-header">Ball Ranker</h1>
  <div class="ball-rank-slider-container">
    <div class="text-small">Side Spin</div>
    <input id="side-spin-slider" type="text"
      data-provide="slider"
      data-slider-value="33"
      data-slider-ticks="[-33, 0, 33, 66, 100]"
      data-slider-ticks-snap-bounds="5"
      ticks_positions="[-33, 0, 33, 66, 100]"
      data-slider-tooltip="hide" />
  </div>
  <div class="ball-rank-slider-container">
    <div class="text-small">Wind Resistance</div>
    <input id="wind-resistance-slider" type="text"
      data-provide="slider"
      data-slider-value="66"
      data-slider-ticks="[-33, 0, 33, 66, 100]"
      data-slider-ticks-snap-bounds="5"
      ticks_positions="[-33, 0, 33, 66, 100]"
      data-slider-tooltip="hide" />
  </div>
  <div class="ball-rank-slider-container">
    <div class="text-small">Power</div>
    <input id="power-slider" type="text"
      data-provide="slider"
      data-slider-value="100"
      data-slider-ticks="[-33, 0, 33, 66, 100]"
      data-slider-ticks-snap-bounds="5"
      data-slider-ticks-labels='["Less Is More", "Don&#39;t Care", "Sure", "More Please", "Need It!"]'
      ticks_positions="[-33, 0, 33, 66, 100]"
      data-slider-tooltip="hide"
      data-slider-ticks-tooltip="hide" />
  </div>
</div>

<hr class="margin-4">

<div class="ball-table-container">
  <table class="table table-centered table-squished table-content-centered table-borderless table-equal-columns table-responsive table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Wind<br>Resistance</th>
        <th>Side Spin</th>
        <th>Power</th>
        <th><img src="/img/golfclash/other/Gem-24x24.png" alt="Cost" class="img-center img-responsive"></th>
      </tr>
    </thead>
    <tbody>
      {% for ballKey in include.ballKeyArray %}

        {% assign ball = site.data.balls[ballKey] %}
        {% assign ballPath = ball.name | remove: "The" | remove: " " | remove: "'" %}

        <tr class="ball-table-row" id="{{ ballPath }}-ranking-row" data-name="{{ ballPath }}" data-wind-resistance="{{ ball.wind-resistance }}" data-side-spin="{{ ball.side-spin }}" data-power="{{ ball.power }}" data-needle-speed="{{ ball.needle-speed }}">
          <td>
            <img src="/img/golfclash/balls/{{ ballPath }}-64x64.png" title="{{ ball.name }}" alt="{{ ball.name }}" class="img-center img-responsive" style="width: 36px;">
          </td>
          <td>
            {% if ball.wind-resistance > 0 %}
              <img src="/img/golfclash/balls/WindResistance{{ ball.wind-resistance }}-annotated-32x32.png" title="Wind Resistance {{ ball.wind-resistance }}" alt="Wind Resistance {{ ball.wind-resistance }}" class="img-center img-responsive">
            {% else %}
              <i class="fas fa-times text-danger" aria-hidden="true"></i>
            {% endif %}
          </td>
          <td>
            {% if ball.side-spin > 0 %}
              <img src="/img/golfclash/balls/SideSpin{{ ball.side-spin }}-annotated-32x32.png" title="Side Spin {{ ball.side-spin }}" alt="Side Spin {{ ball.side-spin }}" class="img-center img-responsive">
            {% else %}
              <i class="fas fa-times text-danger" aria-hidden="true"></i>
            {% endif %}
          </td>
          <td>
            {% if ball.power > 0 %}
              <img src="/img/golfclash/balls/Power{{ ball.power }}-annotated-32x32.png" title="Power {{ ball.power }}" alt="Power {{ ball.power }}" class="img-center img-responsive">
            {% else %}
              <i class="fas fa-times text-danger" aria-hidden="true"></i>
            {% endif %}
          </td>
          <td>
            {% if ball.cost != "n/a" %}
              <h4>{{ ball.cost }}</h4>
            {% else %}
              <i class="fas fa-times text-danger" title="Not for Purchase" aria-hidden="true"></i>
            {% endif %}
          </td>
        </tr>

      {% endfor %}
    </tbody>
  </table>
</div>