---
layout: gcn-layout
title: "{{ page.course }} - Hole {{ page.number }}"
section: "courses"
---

{% assign coursePath = page.course | remove: " " %}
{% assign holeIx = page.number | minus: 1 %}
{% assign hole = site.data.courses[coursePath].holes[holeIx] %}

{% assign numHoles = site.data.courses[coursePath].holes | size %}

{% capture holeAliasesJson %}
  {% if hole.aliases != undefined and hole.aliases != empty %}
    {{ hole.aliases | jsonify }}
  {% else %}
    []
  {% endif %}
{% endcapture %}

{% capture difficultyProgressBar %}
  {% include tools/hole-rating-difficulty-bar.liquid hole=hole %}
{% endcapture %}

<div id="hole-data" class="hidden" data-hole-id="{{ hole.id }}" data-hole-aliases='{{ holeAliasesJson | strip }}'></div>

<div class="row hidden-lg hidden-md">
  <div class="col-lg-12">
    <h1 class="gcn-page-header">{{ page.course }}</h1>
    <h2 class="gcn-page-subheader">Hole {{ page.number }} - Par {{ page.par }}</h2>
    <nav class="text-center" aria-label="Course hole navigation">
      <ul class="pagination pagination-sm justify-content-center margin-8">
        {% for hole in (1..numHoles) %}
          {% if hole == page.number %}
            <li class="page-item active"><a class="page-link" href="#">{{ page.number }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="/courses/{{ coursePath }}/{{ hole }}/">{{ hole }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    {{ difficultyProgressBar }}
  </div>
  <div class="col-lg-12">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <div>
      <div class="hole-map-container">
        <div class="hole-map">
          <img src="/img/golfclash/courses/{{ coursePath }}/{{ page.number }}.png" alt="Hole {{ page.number }} Map" title="Hole {{ page.number }} Map" class="course-hole-map img-responsive img-center">
        </div>

        {% if hole.overlays.size and hole.overlays.hidden != true %}

          {% assign width = hole.overlays.size | first %}
          {% assign height = hole.overlays.size | last %}

          <div class="hole-map-overlays">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="0 0 {{ width }} {{ height }}" class="hole-map-svg">
              {% for guide in hole.overlays.guides %}
                {% for level in guide.levels %}
                  {% assign levelName = level.name %}
                  <g class="{{ levelName }}-guide-overlay">
                    {{ level.svg }}
                  </g>
                {% endfor %}
              {% endfor %}
              {% for annotation in hole.overlays.annotations %}
                {{ annotation.svg }}
              {% endfor %}
            </svg>
          </div>
        {% endif %}

      </div>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="visible-lg visible-md">
      <h3 class="text-center">{{ page.course }}</h3>
      <h5 class="text-center">Hole {{ page.number }} - Par {{ page.par }}</h5>
      <nav class="text-center" aria-label="Course hole navigation">
        <ul class="pagination pagination-sm justify-content-center margin-8">
          {% for hole in (1..numHoles) %}
            {% if hole == page.number %}
              <li class="page-item active"><a class="page-link" href="#">{{ page.number }}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="/courses/{{ coursePath }}/{{ hole }}/">{{ hole }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
      {{ difficultyProgressBar }}
    </div>

    <div id="user-notes" class="hidden">
      <hr class="hr-text margin-4" data-content="My Notes">
    </div>

    <div class="text-center">
      <button id="hole-note-add-btn" type="button" class="btn btn-primary btn-slim gcn-btn-add-hole-note center-block hidden">
        <i class="fas fa-sticky-note"></i>
        <span>Add Hole Note</span>
      </button>
      <a class="btn btn-default gcn-btn-hole-note-tutorial" href="/holenotes" target="_blank" rel="noopener">
        <i class="far fa-question-circle"></i>
      </a>
    </div>

    <hr class="hr-text margin-4" data-content="">

    {% if hole.overlays.guides != undefined and hole.overlays.guides != empty and hole.overlays.hidden != true %}

      <div class="text-semi-muted text-center margin-12">
        Guide courtesy of <a href="https://www.facebook.com/teamgolfclashtommy/" target="_blank" rel="noopener"><i class="fab fa-facebook fa-fw text-facebook" aria-hidden="true"></i> Team Golf Clash Tommy</a>.
      </div>

      <div class="btn-group guide-button-toggles" data-toggle="buttons">
        <label class="btn btn-toggle-rookie active">
          <input type="radio" name="level" id="Rookie" autocomplete="off" checked> Rookie
        </label>
        <label class="btn btn-toggle-pro">
          <input type="radio" name="level" id="Pro" autocomplete="off"> Pro / Expert
        </label>
        <label class="btn btn-toggle-masters">
          <input type="radio" name="level" id="Masters" autocomplete="off"> Masters
        </label>
      </div>

      {% for clubRecommendations in hole.clubRecommendations %}
        {% assign recommendationLevel = clubRecommendations.level %}

        {% capture initalVisibility %}
          {% if recommendationLevel != 'Rookie' %}
            hidden
          {% endif %}
        {% endcapture %}

        <div class="pull-right {{ recommendationLevel }}-club-recommendations {{ initalVisibility | strip }}">
          <div class="club-recommendation-list" style="margin-top: 25px;">
            {% for club in clubRecommendations.clubs %}
              {% assign clubPath = club | remove: "The" | remove: " " | remove: "'" %}
              <img class="club-recommendation-item" src="/img/golfclash/clubs/{{ clubPath }}-256x256.png" alt="{{ club }}">
              <div class="club-recommendation-item-caption text-tiny text-center text-semi-muted">{{ club.name }}</div>
              {% if forloop.rindex > 1 %}
                <hr>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}

      {% if hole.description == undefined or hole.description contains 'Help Wanted' %}
      {% else %}
        <p style="margin-top: 20px;">
          {{ hole.description }}
        </p>
      {% endif %}

      <div>
        {% for guide in hole.overlays.guides %}
          {% for level in guide.levels %}
            {% assign levelName = level.name %}

            {% capture initalVisibility %}
              {% if levelName != 'Rookie' %}
                hidden
              {% endif %}
            {% endcapture %}

            <h4 class="{{ levelName }}-guide-text {{ initalVisibility | strip }}">{{ guide.name }}</h4>

            {% if guide.text contains 'Help Wanted' %}
              <p class="text-prototype {{ levelName }}-guide-text {{ initalVisibility | strip }}">
                {% lipsum 1 5 10 %}
              </p>
            {% else %}
              <p class="{{ levelName }}-guide-text {{ initalVisibility | strip }}">
                {{ guide.text }}
              </p>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    {% endif %}

    {% if hole.resources and hole.resources != empty %}

      <hr class="hr-text text-large" data-content="Resources">
      <div class="list-group">
        {% for resource in hole.resources %}

          {% capture resourceIcon %}
            {% include resources/icon.liquid resource=resource iconSize='lg' %}
          {% endcapture %}

          <li class="list-group-item gcn-resource text-small"><a href="{{ resource.url }}" target="_blank" rel="noopener">{{ resourceIcon }} {{ resource.title }}</a></li>
        {% endfor %}
      </div>
      <ul>
    {% endif %}

  </div>

  {% include holes/hole-note-edit-modal.liquid %}

</div>