
{% assign clubPath = include.club.name | remove: "The" | remove: " " | remove: "'" %}
{% assign maxLevel = include.club.power | size %}

{% assign tour1Upgrades = "100 340 800 1600 2700 4300 6400 9200 13000" | split: ' ' %}
{% assign tour2Upgrades = "340 800 1600 2700 4300 6400 9200 13000 17000" | split: ' ' %}
{% assign tour3Upgrades = "1600 2700 4300 6400 9200 13000 17000 22000 28000" | split: ' ' %}
{% assign tour4Upgrades = "4300 6400 9200 13000 17000 22000 28000 35000 43000" | split: ' ' %}
{% assign tour5Upgrades = "9200 13000 17000 22000 28000 35000 43000 52000 62000" | split: ' ' %}
{% assign tour6Upgrades = "22000 28000 35000 43000 52000 62000 73000 86000 100000" | split: ' ' %}
{% assign tour7Upgrades = "55000 70000 87500 107500 130000 155000 182500" | split: ' ' %}

<div class="panel panel-default gcn-card">
  <div class="panel-heading">
    <div class="thumbnail thumbnail-plain">
      <img src="/img/golfclash/clubs/{{ clubPath }}-64x64.png" alt="{{ include.club.name }}">
    </div>
    <h4 class="title">{{ include.club.name }}</h4>
    <div class="pull-right">
      <a class="btn btn-default btn-xs btn-wind-chart hidden-sm hidden-xs hidden" role="button" data-toggle="popover" data-placement="auto left" data-html="true" data-club-name="{{ include.club.name }}">Wind Chart</a>
      <a class="btn btn-default btn-xs btn-wind-chart-modal hidden-lg hidden-md  hidden" role="button" data-club-name="{{ include.club.name }}">Wind Chart</a>
    </div>
  </div>
  {% if include.club.description contains 'Help Wanted' %}
    <div class="panel-body text-prototype">
      {% lipsum 2 10 20 %}
    </div>
  {% else %}
    <div class="panel-body text-content">
      {{ include.club.description }}
    </div>
  {% endif %}
  <div class="table-responsive">
    <table class="club-stat-table table table-condensed">
      <thead>
        <tr>
          <th></th>
          {% for level in (1..10) %}
            <th>{{ forloop.index }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Power</th>
          {% for level in (0..9) %}
            {% assign power = include.club.power[level] %}
            {% if level < maxLevel %}
              {% assign lastIndex = forloop.index0 | minus: 1 | max: 0 %}
              {% if include.club.power[level] < 0 %}
                <td>???</td>
              {% elsif forloop.first or include.club.power[lastIndex] == include.club.power[forloop.index0] %}
                <td>{{ power }}</td>
              {% else %}
                <td class="success">{{ power }}</td>
              {% endif %}
            {% else %}
              <td class="danger" style="padding: 4px 12px;"><i class="fas fa-times text-danger" aria-hidden="true"></i></td>
            {% endif %}
          {% endfor %}
        </tr>
        <tr>
          <th>Accuracy</th>
          {% for level in (0..9) %}
            {% assign accuracy = include.club.accuracy[level] %}
            {% if level < maxLevel %}
              {% assign lastIndex = forloop.index0 | minus: 1 | max: 0 %}
              {% if include.club.accuracy[level] < 0 %}
                <td>???</td>
              {% elsif forloop.first or include.club.accuracy[lastIndex] == include.club.accuracy[forloop.index0] %}
                <td>{{ accuracy }}</td>
              {% else %}
                <td class="success">{{ accuracy }}</td>
              {% endif %}
            {% else %}
              <td class="danger" style="padding: 4px 12px;"><i class="fas fa-times text-danger" aria-hidden="true"></i></td>
            {% endif %}
          {% endfor %}
        </tr>
        <tr>
          <th>Top Spin</th>
          {% for level in (0..9) %}
            {% assign topspin = include.club.topspin[level] %}
            {% if level < maxLevel %}
              {% assign lastIndex = forloop.index0 | minus: 1 | max: 0 %}
              {% if include.club.topspin[level] < 0 %}
                <td>???</td>
              {% elsif forloop.first or include.club.topspin[lastIndex] == include.club.topspin[forloop.index0] %}
                <td>{{ topspin }}</td>
              {% else %}
                <td class="success">{{ topspin }}</td>
              {% endif %}
            {% else %}
              <td class="danger" style="padding: 4px 12px;"><i class="fas fa-times text-danger" aria-hidden="true"></i></td>
            {% endif %}
          {% endfor %}
        </tr>
        <tr>
          <th>Back Spin</th>
          {% for level in (0..9) %}
            {% assign backspin = include.club.backspin[level] %}
            {% if level < maxLevel %}
              {% assign lastIndex = forloop.index0 | minus: 1 | max: 0 %}
              {% if include.club.backspin[level] < 0 %}
                <td>???</td>
              {% elsif forloop.first or include.club.backspin[lastIndex] == include.club.backspin[forloop.index0] %}
                <td>{{ backspin }}</td>
              {% else %}
                <td class="success">{{ backspin }}</td>
              {% endif %}
            {% else %}
              <td class="danger" style="padding: 4px 12px;"><i class="fas fa-times text-danger" aria-hidden="true"></i></td>
            {% endif %}
          {% endfor %}
        </tr>
        <tr>
          <th>Curl</th>
          {% for level in (0..9) %}
            {% assign curl = include.club.curl[level] %}
            {% if level < maxLevel %}
              {% assign lastIndex = forloop.index0 | minus: 1 | max: 0 %}
              {% if include.club.curl[level] < 0 %}
                <td>???</td>
              {% elsif forloop.first or include.club.curl[lastIndex] == include.club.curl[forloop.index0] %}
                <td>{{ curl }}</td>
              {% else %}
                <td class="success">{{ curl }}</td>
              {% endif %}
            {% else %}
              <td class="danger" style="padding: 4px 12px;"><i class="fas fa-times text-danger" aria-hidden="true"></i></td>
            {% endif %}
          {% endfor %}
        </tr>
        <tr>
          <th>Ball Guide</th>
          {% for level in (0..9) %}
            {% assign ballguide = include.club.ballguide[level] %}
            {% if level < maxLevel %}
              {% assign lastIndex = forloop.index0 | minus: 1 | max: 0 %}
              {% if include.club.ballguide[level] < 0 %}
                <td>???</td>
              {% elsif forloop.first or include.club.ballguide[lastIndex] == include.club.ballguide[forloop.index0] %}
                <td>{{ ballguide }}</td>
              {% else %}
                <td class="success">{{ ballguide }}</td>
              {% endif %}
            {% else %}
              <td class="danger" style="padding: 4px 12px;"><i class="fas fa-times text-danger" aria-hidden="true"></i></td>
            {% endif %}
          {% endfor %}
        </tr>
        <tr>
          <th>Upgrade</th>
          {% for level in (0..9) %}
            {% if level > 0 and level < maxLevel %}

              {% assign upgradeArray = "" | split: ' ' %}

              {% case include.club.tour %}
                {% when 1 %}
                   {% assign upgradeArray = tour1Upgrades %}
                {% when 2 %}
                   {% assign upgradeArray = tour2Upgrades %}
                {% when 3 %}
                   {% assign upgradeArray = tour3Upgrades %}
                {% when 3 %}
                   {% assign upgradeArray = tour3Upgrades %}
                {% when 4 %}
                   {% assign upgradeArray = tour4Upgrades %}
                {% when 5 %}
                   {% assign upgradeArray = tour5Upgrades %}
                {% when 6 %}
                   {% assign upgradeArray = tour6Upgrades %}
                {% when 7 %}
                   {% assign upgradeArray = tour7Upgrades %}
              {% endcase %}

              {% assign upgradeIx = level | minus: 1 %}

              {% if upgradeIx < upgradeArray.size %}
                {% assign cost = upgradeArray[upgradeIx] %}

                {% if cost.size > 3 %}
                  {% assign cost = upgradeArray[upgradeIx] | divided_by: 1000 | append: 'K' %}
                {% endif %}

                <td>{{ cost }}</td>
              {% else %}
                <td>???</td>
              {% endif %}
            {% else %}
              <td class="danger" style="padding: 4px 12px;"><i class="fas fa-times text-danger" aria-hidden="true"></i></td>
            {% endif %}
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
</div>
