---
layout: gcn-layout
title:  "Tour {{ page.number }}"
section: "tours"
---

{% assign numCourses = page.courses | size %}
{% assign numClubs = page.clubs | size %}

<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-12">
    <p class="lead text-center">Tour {{ page.number }} - {{ page.tour-name }}</p>
    {% if numCourses > 0 %}
      <div class="pull-left text-left">
        <div class="tour-courses">
          {% for course in page.courses %}
            {% assign coursePath = course.name | remove: " " | remove: "'" %}
            <a class="tour-course" href="/courses/{{ coursePath }}/">
              <img src="/img/golfclash/courses/{{ coursePath }}/thumb.png" alt="{{ courseName }}">
            </a>
            <div class="tour-course-caption text-tiny text-center text-semi-muted">{{ course.name }}</div>
            {% if forloop.rindex > 1 %}
              <hr>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if numClubs > 0 %}
      <div class="pull-right text-right">
        <div class="club-recommendation-list">
          {% for club in page.clubs %}
            {% assign clubPath = club.name | remove: "The" | remove: " " | remove: "'" %}
            <img class="club-recommendation-item" src="/img/golfclash/clubs/{{ clubPath }}.png" alt="{{ club.name }}">
            <div class="text-tiny text-center text-semi-muted">{{ club.name }}</div>
            {% if forloop.rindex > 1 %}
              <hr>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if page.description contains 'Help Wanted' %}
      <p class="text-prototype">
        {% lipsum 3 10 30 %}
      </p>
    {% else %}
      <p>
        {{ page.description }}
      </p>
    {% endif %}
  </div>
</div>

{% if page.resources != undefined and page.resources != empty %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-12">
      <p class="lead text-center">Resources</p>
      <div class="list-group">
        {% for resource in page.resources %}

          {% capture resourceIcon %}
            {% include resources/icon.liquid resource=resource %}
          {% endcapture %}

          <li class="list-group-item gcn-resource text-small"><a href="{{ resource.url }}" target="_blank" rel="noopener">{{ resourceIcon }} {{ resource.title }}</a></li>

        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
